.form_td { 
	margin: 10px auto;
	border-width: solid;
	border:  2px solid rgb(67,117,162);
	background-color: rgb(91,155,213);
	padding: 7px 7px 7px 7px;
	color: rgb(255,255,255);
	text-align: center;
  	font-family: "Times New Roman", Times, serif;
}

.form_submit{
	margin: 10px auto;
	background-color: rgb(91, 155, 213); 
	border-style:solid; 
	padding: 10px 25px 10px 25px;	
	border-color: rgb(83,126,166);
	border-radius: 5px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: rgb(255,255,255);

}

.form_center{
	margin: 10px auto;
	border-color: rgb(85,128,166);
	height: 100%;
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.input_form{
	border-style:solid; 
	border-color: rgb(65,113,156);
	padding:  8px 0px 8px 0px;
}

.table_form{
		width: 100%;
		height: 100%;
		max-width: 500px;
		margin: 10px auto;
		padding: 10px;
		border: 1px solid rgb(65,113,156);
	
}

.radio_label{
	padding: 0px 20px 0px 0px;
	background-color: rgb(91, 155, 213); 
	border-style:solid; 
	border-color: rgb(83,126,166);
	border-radius: 5px;
	font-family: "Times New Roman", Times, serif;
	color:rgb(83,126,166);
}

.selectbox_color{
	background: #456BD9;
	border-color: 1px solid rgb(81,125,164);
	padding:  7px 0px 7px 0px;
	font-family: "Times New Roman", Times, serif;
	font-size:15px;
	text-align: left;
}
 
  